<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}UP列表{% endblock %} - BilibiliWatcher</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>  
</head>
<body>
    {% include 'watch/nav.html' %}
    {% block content %}
    {% for i in upinfos %}
    <ul class="list-group" style="margin:30px">
        <a class="list-group-item" href="{{i.upid}}"><h4>{{i.upname}} <span class="label label-default">UID: {{i.upid}}</span> <span class="label label-primary">Start-Time: {{i.wtime}}</span></h4></a>
        <a class="list-group-item">{{i.des}}</a>
    </ul>
    {% endfor %}
    {% endblock %}
    {% include 'watch/bottom.html' %}
</body>
</html>